<!DOCTYPE html>
<html>
<head>
  <title>Sorms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<nav class="navbar navbar-inverse" role="navigation"> 
 		<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="<%= root_path %>">SORMS</a>
		    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav">
			        <li><a href="/students">Students</a></li>
			        <li><a href="/courses">Courses</a></li>
			        <li><a href="/results">Results</a></li>
			    </ul>
      	<!--	<button type="button" class="btn btn-default navbar-btn navbar-right"><a href="admins/sign_in">Sign in</a></button>-->
	    	</div><!-- /.navbar-collapse -->
	  	</div><!-- /.container-fluid -->
	</nav>
	<div class="container">
		<br>
		<p style="font-size:15px; color:green;"><%= flash.notice %></p>
		<div class= "container">
			<%= yield %>
		</div>
	</div>



</body>
</html>
